* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, pink, purple);
}

p {
    font-size: 20px;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.dot.active {
    background-color: purple;
}