*{
    margin: 0;
    padding: 0;
    border:0;
}
body{
    width: 400px;
    height: 200px;
    background: linear-gradient(to right,pink,purple);;
    margin: auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.left .right{
    width: 50%;
    height: 100%;
    background:linear-gradient(to right,pink,purple);
    position: absolute;
    transition: 1s;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
.open .left{
    transform: translateX(-100%);
}
.open .right{
    transform: translateX(100%);
}
.btn{
    position: absolute;
    top: 70px;
    left: 120px;
    padding: 10px;
    background: purple;
border-radius: 5px;
}
.message{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 130px;
    text-align: center;
    display: none;
    color: white;
    font-size: 30px;
}
.open .message{
    display: block;
}
.next{
    margin-top:20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}