*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
        background: linear-gradient(to right,pink,purple);


}
h1{
    font-size: 50px;
    color: white;
}
p{
    font-size: 20px;
    color:white;
}
button{
        padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: purple;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
audio{
    display: none;
}
.bolloon{
    width: 50px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    animation: moveUp  7s linear infinite;
}
.bolloon-container  .bolloon:nth-child(1){
    left: 10%;
    background-color: red;
    /* animation-duration: 6s; */
}
.bolloon-container  .bolloon:nth-child(2){
    left: 20%;
    background-color: blue;
    /* animation-duration: 6s; */
}
.bolloon-container  .bolloon:nth-child(3){
    left: 30%;
    background-color: rgb(4, 85, 166);
    /* animation-duration: 7s; */
}
.bolloon-container  .bolloon:nth-child(4){
    left: 40%;
    background-color: rgb(237, 237, 10);
    /* animation-duration: 8s; */
}
.bolloon-container  .bolloon:nth-child(5){
    left: 50%;
    background-color: rgba(184, 67, 49, 0.752);
    /* animation-duration: 9s; */
}
.bolloon-container  .bolloon:nth-child(6){
    left: 60%;
    background-color: rgb(93, 5, 93);
    /* animation-duration: 10s; */
}
.bolloon-container  .bolloon:nth-child(7){
    left: 70%;
    background-color: rgb(119, 4, 23);
    /* animation-duration: 11s; */
}
.bolloon-container  .bolloon:nth-child(8){
    left: 80%;
    background-color: rgb(5, 134, 5);
    /* animation-duration: 12s; */
}
.bolloon-container  .bolloon:nth-child(9){
    left: 90%;
    background-color: rgb(203, 140, 22);
    /* animation-duration: 13s; */
}
@keyframes moveUp{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100vh);
    }
}
.next{
    margin-top:20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}